.slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_item {
    position: relative;
    width: 50%;
    background: #b9baf1;
    padding: 25px;
    border-radius: 13px;
}

.slider__title {
    font-size: 32px;
}

.slider_description {
    font-size: 18px;
}

.slider__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__img img {
    max-width: 520px;
    border-radius: 15px;
}

.slider__rating {
    position: absolute;
    padding: 5px;
    border: 1px solid #0E0E22;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    font-size: 23px;
    color: #1c136e;
}

.slider__rating-number {

}

.slider__people {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 23px;
    color: #1c136e;
}

.slider__people-number {

}

.slider__more {
    position: absolute;
    right: 80px;
    top: 73%;
    color: var(--lite);
    background: transparent;
    padding: 12px 25px;
    border: 1px solid var(--lite);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.slider__back {
    position: absolute;
    left: -40px;
    top: 50%;
    color: var(--blue);
    background: transparent;
    padding: 12px 25px;
    border: 1px solid var(--blue);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.slider__next {
    position: absolute;
    right: -50px;
    top: 50%;
    color: var(--blue);
    background: transparent;
    padding: 12px 25px;
    border: 1px solid var(--blue);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.slider__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    gap: 5px;
}